<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:for="#{title.person.list}" th:text="#{title.person.list}"></title><!-- TITRE PAGE internationnalisé -->
    <div th:replace="fragments/layout :: header-css"></div>
</head>
<body>
<h1 th:for="#{title.person.list}" th:text="#{title.person.list}"></h1><!-- TITRE PAGE internationnalisé -->
<div th:include="fragments/layout :: header-page"></div>
<table>
    <tr th:each="person: ${persons}">
        <td><span th:utext="${person.surname}"></span> <a href="#" th:href="@{'/person/detail/'+${person.id}}">detail</a> </td>
    </tr>
</table>
<div th:include="fragments/layout :: footer-js"></div>
</body>
</html>